body {
  font-family: "Arial"
}

.nav-item {
    color:black
}


.login {
  margin-bottom:5px;
}

/* FILTERS */

#search {
  width: 150px;
  background-image: linear-gradient(maroon, black);
  color:white;
}
.radio {
  font-size: 15spx;
  font-weight:600;
}

/* dropdown menu boxes */
.dropdown-menu {
  width: 345px;
  border: 2px solid black;
  background-color: rgb(207, 198, 198);

}
.btn-sel {
  border: 2px solid black;
  font-size: 17px;
  border-radius: 10px;
  height:50px;
  margin-top: 10px;
  font-weight:600;
  min-width:25%;
}
.tag-text {
  position:relative;
  left:2px;
  bottom:10px;
}

.mb-3 {
  margin-left:20px;
  padding: 10px;
  display: flex;
  justify-content:space-between;
  font-size: 20px;
  font-weight:750;
}

.org-field {
  width: 75%;
  font-size: 17px;
}

.flex-e {
  display:flex;
  justify-content: end;
}
.flex-c {
  display:flex;
  justify-content: center;
}

.flex-s {
  display:flex;
  justify-content: start;
}

.flex-b {
  display: flex;
  justify-content: space-between;
}

.tag-bar {
  display:flex;
  flex-shrink: 10;
  align-items: center;
  justify-content: center;
}

.alert {
  background-image: linear-gradient(white, maroon);
  color: white;
  border: 2px solid maroon;
  border-radius: 25px;
  margin:5px;
  height: 10%;
}

.btn-close {
  height:13%;
}

.logo {
  height:60px;;
}

#orgo-dropdown {
  background-image: linear-gradient(rgb(178, 176, 176), rgb(90, 89, 89));
  color:white;
  width: fit-content;
}