body {
  font-family: "Arial"
}

.nav-item {
    color:black
}

.login {
  margin-bottom:5px;
}

/* FILTERS */

#search {
  width: 150px;
  background-image: linear-gradient(maroon, black);
  color:white;
}

.radio {
  font-size: 12px;
  font-weight:600;
  min-width: fit-content;
  margin-right:5px;
}

/* dropdown menu boxes */
.dropdown-menu {
  width: 345px;
  border: 2px solid black;
  background-color: rgb(207, 198, 198);

}

.btn-sel {
  font-size: 13px;
  margin: 4px;
  border-radius: 10px;
  height:50px;
  margin-top: 10px;
  font-weight:600;
  min-width:25%;
}

.mb-3 {
  margin-left:20px;
  padding: 10px;
  display: flex;
  justify-content:space-between;
  font-size: 20px;
  font-weight:750;
}

.org-field {
  width: 75%;
  font-size: 17px;
}

.flex-e {
  display:flex;
  justify-content: end;
}

.flex-c {
  width:100%;
  display:flex;
  justify-content: center;
}

.flex-s {
  display:flex;
  justify-content: start;
}

.flex-b {
  display: flex;
  justify-content: space-between;
}

.tag-bar {
  display:flex;
  align-items: center;
  overflow:hidden;
}

.alert {
  background-image: linear-gradient(white, maroon);
  color: white;
  border: 1.4px solid maroon;
  border-radius: 25px;
  margin:5px;
  font-size: 12px;

  min-width: fit-content;
  height:10%;
}

.tag-text {
  position:relative;
  bottom:7px;
}

.btn-close {
  height: 0%;
}

.logo {
  height:60px;;
}

#orgo-dropdown {
  background-image: linear-gradient(rgb(178, 176, 176), rgb(90, 89, 89));
  color:white;
  width: fit-content;
}