.nav-item {
  color: black
}

.login {
  margin-bottom: 5px;
}

/* FILTERS */

#leaderboard_header {
  position: relative;
  top:8px;
}

#search {
  width: 150px;
  background-image: linear-gradient(maroon, black);
  color: white;
}

#search:hover {
  background-image: linear-gradient(black, maroon);
}

.radio {
  font-size: 12px;
  font-weight: 600;
  min-width: fit-content;
  margin-right: 5px;
}

/* dropdown menu boxes */
.dropdown-menu {
  width: 345px;
  border: 0.1px solid black;
  background-color: rgb(207, 198, 198);

}

.btn-sel {
  font-size: 13px;
  margin: 4px;
  border-radius: 10px;
  height: 50px;
  margin-top: 10px;
  font-weight: 600;
  min-width: 25%;
}

.btn-sel:hover {
  -webkit-filter: brightness(90%);

}

.org-field:hover {
  -webkit-filter: brightness(90%);
}

.mb-3 {
  margin-left: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 750;
}

.org-field {
  width: 75%;
  font-size: 17px;
}

.flex-e {
  display: flex;
  justify-content: end;
}

.flex-c {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-s {
  display: flex;
  justify-content: start;
}

.flex-b {
  display: flex;
  justify-content: space-between;
}

.tag-bar {
  display: flex;
  align-items: center;
  overflow: auto;
}

.alert {
  background-image: linear-gradient(white, maroon);
  color: white;
  border: 1.4px solid maroon;
  border-radius: 25px;
  margin: 5px;
  font-size: 12px;
  height: 10%;
  min-width: fit-content;
}

.tag-text {
  position: relative;
  bottom:16px;
}

.close {
  position: relative;
  bottom: 13.5px;
  background-color: transparent;
  border: none;
  font-size: 19px;
  color: white;
  margin:auto;
}

.close:hover {
  color:maroon;
}

.logo {
  height: 60px;
}

#orgo-dropdown {
  background-image: linear-gradient(rgb(178, 176, 176), rgb(90, 89, 89));
  color: white;
}