.nav-item {
    color:black
}

.login {
    margin-bottom:5px;
  }

  .dropdown-menu {
    width: 345px;
    border: 2px solid black;
    background-color: rgb(207, 198, 198);
  }

  .btn-sel {
    border: 2px solid black;
    font-size: 17px;
    border-radius: 10px;
    height: 50%;
    font-weight:600;
    min-width:25%;
  }
  
  .org-field {
    width: 75%;
  }

  .center {
      display: flex;
      justify-content: center;
  }

  #date {
    color: darkgray
  }

  .form-control {
    margin:2px;
  }

  .btn {
    background-image: linear-gradient(maroon, black);
  }

  .btn:hover {
    background-image: linear-gradient(black, maroon);
  }

  #exercise:hover {
    -webkit-filter: brightness(95%);
  }