.nav-item {
    color:black
}
.login {
  margin-bottom:5px;
}

/* FILTERS */

#search {
  width: 150px;
}
.radio {
  font-size: 15spx;
}

/* dropdown menu boxes */
.dropdown-menu {
  width: 345px;
  border: 2px solid black;
  background-color: rgb(207, 198, 198);

}
.btn-sel {
  border: 2px solid black;
  font-size: 17px;
  border-radius: 10px;
  height: 50%;
  font-weight:600;
  min-width:25%;
}
/* each select element (label + select box) inside dropdown menu boxes */
.mb-3 {
  padding: 10px;
  display: flex;
  justify-content:space-between;
  font-size: 20px;
}
/* each select box within select element (label + select box) */
.org-field {
  width: 75%;
}

.larry {
  text-align: left;
  width: 80px;
  height: 100px;
}

.hid_div{
  display: none;
}
.hidden{
  display: none;
}