.nav-item {
    color:black
}


.login {
  margin-bottom:5px;
}
.dropdown-menu {
    width: 345px;
}
.btn-sel {
    border: 2px solid black;
    padding: 0px 75px;
    font-size: 20px;
    border-radius: 10px;
    height: 60px;
  }
.equipment{
   max-width: 25%;
   height: auto;
   float: left;
   padding-right: 50px;
}
.checked{
  color: orange;
}

.grid-container{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
}